<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>variabl</title>
</head>
<body>
    <h1>Hello !! I am {{ name1 }}</h1>
    <P> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, doloremque quod, explicabo temporibus quibusdam ullam itaque qui obcaecati exercitationem, assumenda minima quos voluptatem aliquid aliquam optio commodi odit perferendis maiores.</P>
</body>
</html>